/* Styles for the introduction component */
.introductionContainer {
    text-align: center;
    color: #e0e0e0; /* Light grey */
}

.name {
    font-size: 4em; /* Large size for name */
    margin-bottom: 0.2em;
    color: #00e0ff; /* Neon cyan */
    text-shadow: 0 0 8px #00bfff;
}

.tagline {
    font-size: 1.5em; /* Smaller size for tagline */
    color: #b3b3b3; /* Slightly darker grey */
    margin-top: 0;
}

/* Adjust size for smaller screens */
@media (max-width: 768px) {
    .name {
        font-size: 2.5em;
    }
    .tagline {
        font-size: 1.2em;
    }
}